{{define "layout/base.html"}}

<!DOCTYPE html>
<html class="x-admin-sm">
<head>
    <meta charset="UTF-8">
    <title>{{block "title" .}}{{end}}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

    <link rel="stylesheet" href="{{.staticResourcesPathCss}}/static/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="{{.staticResourcesPathCss}}/static/plugins/adminlte/css/adminlte.min.css">
    <link rel="stylesheet" href="{{.staticResourcesPathCss}}/static/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">

    <link rel="stylesheet" href="{{.staticResourcesPathCss}}/static/joyconn/joyconn.comm.css">
    <script type="text/javascript" src="{{.staticResourcesPathCss}}/static/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        var page_content_path = '{{.contentPath}}';
        var static_Resources_Path_Js = '{{.staticResourcesPathJs}}';
        var static_Resources_Path_Css = '{{.staticResourcesPathCss}}';
        var static_Resources_Path_File = '{{.staticResourcesPathFile}}';
        var static_Resources_Path_Image = '{{.staticResourcesPathImage}}';
    </script>
    {{block "MainHeader" .}}{{end}}
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- <script type="text/javascript" src="/static/admin/js/access_ajax.js"></script> -->
</head>
<body>
    {{block "MainContent" .}}{{end}}
    

    <script src="{{.staticResourcesPathJs}}/static/plugins/jquery/jquery.cookie.js"></script>
    <script src="{{.staticResourcesPathJs}}/static/plugins/jquery/jquery.md5.js"></script>

    <script src="{{.staticResourcesPathJs}}/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{.staticResourcesPathJs}}/static/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="{{.staticResourcesPathJs}}/static/plugins/adminlte/js/adminlte.js"></script>

    <script src="{{.staticResourcesPathJs}}/static/joyconn/utils.js"></script>    
    <script src="{{.staticResourcesPathJs}}/static/joyconn/comm.js"></script>
    
    <script src="{{.staticResourcesPathJs}}/static/plugins/joyconn-dialog/JoyDialog.js"></script>
    <link href="{{.staticResourcesPathJs}}/static/plugins/joyconn-dialog/JoyDialog.css" rel="stylesheet"/>
    <!-- Slimscroll -->
    <!-- <script src="{{.staticResourcesPathJs}}/static/plugins/slimScroll/jquery.slimscroll.min.js"></script> -->

    {{block "MainFooter" .}}{{end}}
</body>
</html>
{{end}}