{{define "layout/foot.html"}}


    <script src="{{.staticResourcesPathJs}}/static/plugins/jquery/jquery.cookie.js"></script>
    <script src="{{.staticResourcesPathJs}}/static/plugins/jquery/jquery.md5.js"></script>

    <script src="{{.staticResourcesPathJs}}/static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{.staticResourcesPathJs}}/static/plugins/adminlte/js/adminlte.js"></script>

    <script src="{{.staticResourcesPathJs}}/static/joyconn/utils.js"></script>    
    <script src="{{.staticResourcesPathJs}}/static/joyconn/comm.js"></script>
    
    <script src="{{.staticResourcesPathJs}}/static/plugins/joyconn-dialog/JoyDialog.js"></script>
    <link href="{{.staticResourcesPathJs}}/static/plugins/joyconn-dialog/JoyDialog.css" rel="stylesheet"/>
    <!-- Slimscroll -->
    <!-- <script src="{{.staticResourcesPathJs}}/static/plugins/slimScroll/jquery.slimscroll.min.js"></script> -->

{{end}}